.services-section__title,
.promotion-section__title {
  font-size: 24px; }

.services-section__images,
.promotion-section__images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 24px 0; }
  .services-section__images img,
  .promotion-section__images img {
    display: block;
    width: 300px;
    height: 300px;
    border: 2px solid #fc8d2c;
    margin: 0 24px; }

/* <Mobile Query> */
@media (max-width: 426px) {
  .header__title a {
    font-size: 60px; }
  .header__subsection {
    display: grid;
    grid-template-columns: 1.1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: "subtitle" "search" "buttons"; }
    .header__subsection-subtitle {
      font-size: 24px; }
    .header__subsection .header__subsection-search {
      width: 100%; }
    .header__subsection-buttons {
      justify-content: space-around; }
    .header__subsection-buttons-register button {
      margin-left: 0px; }
  .services-section__title,
  .promotion-section__title {
    text-align: center; }
  .services-section__images,
  .promotion-section__images {
    flex-direction: column; }
    .services-section__images img,
    .promotion-section__images img {
      width: 300px;
      height: 300px; } }

/* </Mobile Query> */
/* <Tablet Query> */
@media (min-width: 426px) and (max-width: 768px) {
  .services-section__images img,
  .promotion-section__images img {
    width: 150px;
    height: 150px; } }

/* </Tablet Query> */
