.foodSection{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "text images";
    justify-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.foodSection__text{
    grid-area: text;
    color: #37ff8b;
}

.foodSection__title{
    color: #37ff8b;
    margin-bottom: 20px;
}

.foodSection__list{
    color: #37ff8b;
    margin-left: 42px;
}

.foodSection__list h3{
    list-style: none;
    margin-bottom: 6px;
}

.foodSection__list ol{
    margin-bottom: 20px;
    list-style: circle;
}

.foodSection__images{
    grid-area: images;
    width: 465px;
}

.foodSection__images img{
    width: 150px;
    height: 150px;
}